 <!-- ============================================================== -->
 <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <h6 class="card-subtitle"><div class="col-lg-2 col-md-4 m-2" >
                    <button type="button" class="btn btn-rounded btn-block btn-info" (click)="generatePDF()">Imprimir</button>
                </div></h6>
                
                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Status</th>
                                <th>Ver más</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let user of query'>
                                <td>{{user.id_usuario}}</td>
                                <td>{{user.cedula}}</td>
                                <td>{{user.nombre +' '+user.apellido }}</td>
                                <td>{{user.status}}</td>
                                <td><a class="pointer" ><img src="/assets/images/detalles.jpg"></a></td>
                                <td><a class="pointer" routerLink="/editUsuarios/{{user.id_usuario}}" ><img src="./assets/images/editar.png"></a></td>
                                <td><a class="pointer" (click)='deleteUser(user.id_usuario)' ><img src="/assets//images/borrar.png"></a></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!-- row -->