 <!-- ============================================================== -->
 <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Entrada de Empleados</h4>
                <h6 class="card-subtitle"><div class="col-lg-2 col-md-4 m-2" >
                    <button type="button" class="btn btn-rounded btn-block btn-info" (click)="generatePDF()">Imprimir</button>
                </div></h6>
                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Departamento</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th *ngIf='user.rol !=2'>Editar</th>
                                <th *ngIf='user.rol !=2'>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let emp of query | paginate: { itemsPerPage: 5, currentPage:page ,id:"entemp"}'>
                                <td>{{emp.id_entrada}}</td>
                                <td>{{emp.cedula}}</td>
                                <td>{{emp.nombres}}</td>
                                <td>{{emp.nombre_departamento}}</td>
                                <td>{{emp.fecha_entrada | date }}</td>
                                <td>{{emp.descripcion}}</td>
                                <td *ngIf='user.rol !=2'><a class="pointer" routerLink="/editEntEmpleados/{{emp.id_entrada}}" ><img src="./assets/images/editar.png"></a></td>
                                <td *ngIf='user.rol !=2'><a class="pointer" (click)='deleteEmp(emp.id_entrada)' ><img src="/assets//images/borrar.png"></a></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event" responsive="true"
                    previousLabel="Anterior"
                    nextLabel="Siguiente" id="entemp"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!-- row -->
