#themecolors a {
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.swal-overlay {
    background-color: rgba(15, 15, 15, 0.233);
  }


.rol{
    font-size: 25px;
}
.sweet-success{
    background: #34626c;
    color:white;
}
.sweet-warning{
    background: #c05555;
    color:white;
}