 <!-- ============================================================== -->
 <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Linea</h4>
                <h6 class="card-subtitle"><div class="col-lg-2 col-md-4 m-2" >
                    <button type="button" class="btn btn-rounded btn-block btn-info" (click)="generatePDF()">Imprimir</button>
                </div></h6>
                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Nombre departamento</th>
                                <th>Descripción</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let linea of query | paginate: { itemsPerPage: 5, currentPage:page ,id:"linea"}'>
                                <td>{{linea.id_linea}}</td>
                                <td>{{linea.nombre_linea}}</td>
                                <td>{{linea.nombre_departamento}}</td>
                                <td>{{linea.descripcion_linea}}</td>
                                <td><a class="pointer" routerLink="/editLinea/{{linea.id_linea}}" ><img src="./assets/images/editar.png"></a></td>
                                <td><a class="pointer" (click)='deleteLinea(linea.id_linea)' ><img src="/assets//images/borrar.png"></a></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event" responsive="true"
                    previousLabel="Anterior"
                    nextLabel="Siguiente" id="linea"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!-- row -->